@media (min-width: 580px) {
  nav a {
    font-size: 1.2rem;
    padding: 7px 20px;
  }
}


@media (min-width: 768px) {
  p {
    font: 1.2rem/1.4 Arial;
    margin-bottom: 20px;
  }

  .container {
    padding: 5px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    padding: 0 25px;
  }

  .logo img {
    width: 120px;
    height: 100px;
  }

  header {
    margin-bottom: 25px;
  }
  
  nav {
    padding-bottom: 0;
  }
  
  nav a {
    border: none;
  }

  main .container {
    align-items: flex-start;
  }

  .content {
    width: 65%;
    margin-right: 25px;
    
    border: none;
  }

  .sidebar {
    width: 30%;
  }

  .sidebar nav {
    display: block;
  }

  .sidebar nav a {
    display: block;

    padding: 15px 0;
  }

  .sidebar h2 {
    font: 1.8rem/1 "Times New Roman";
    text-align: left;
    
    padding-bottom: 5px;
    margin-bottom: 10px;

    border-bottom: 1px solid #000;
  }

  footer .container {
    justify-content: center;
    
    padding: 0;
    margin-bottom: 0;
  }
}