стиили на препроцессорах
сборка на грант
Грант тачка должна уметь: следить за изменениями, минифаить код, расставлять префиксы
также ты должен учесть верстку под iphone, 10 в том числе
поддержка браузеров от ие10
меню в “бутерброд” складывай
Готовый вариант верстки на pages.github.com выкладывай Чтобы можно было сразу смотреть страницу и разворачивать локально
также не забывай про семантическую версту: тайтлы у линок, альты у картинок и так далее
аксессабилити тоже учитывай


nvda+firefox
но это будет следующий этап
но держи это в голове