.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1-font-style {
  font-weight: bold;
  font-size: 32px;
  line-height: 64px;
  font-family: 'Montserrat', sans-serif;
}

.h2-font-style {
  font-weight: bold;
  font-size: 26px;
  line-height: 52px;
  font-family: 'Montserrat', sans-serif;
}

.h4-font-style {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  font-family: 'Montserrat', sans-serif;
}

.p-font-style {
  font-size: 16px;
  line-height: 32px;
  font-family: 'Nunito Sans', sans-serif;
  color: @dark-grey-text;
}

.p-medium-font-style {
  font-size: 18px;
  line-height: 36px;
  font-family: 'Nunito Sans', sans-serif;
  color: @dark-grey-text;
}

.link-font-style {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.white-bg-wide {
  background-color: @white;
}

.grey-bg-wide {
  background-color: @light-grey-bg;
}

.btn-main {
  .link-font-style;
  
  padding: 15px 40px;
  border: 2px solid @light-green-text;
  background-color: @light-green-text;
  color: @white;

  &:hover, &:active, &:focus {
    background-color: @white;
    color: @light-green-text;
  }
}