.banner-flex {
  display: flex;
  justify-content: flex-end;
  height: 390px;
}

.banner {
  width: 500px;
  height: 360px;
  padding-top: 30px;
  padding-right: 10%;

  h1 {
    .h1-font-style;
    padding-bottom: 10px;
  }
  p {
    .p-medium-font-style;
    padding-bottom: 35px;
  }
}