.statistics {
  background-color: @light-green-text;
}

.statistics-flex {
  .flex;
  height: 200px;

  section {
    .flex;
    color: @white;
    text-transform: uppercase;
      
    i {
      padding-right: 15px;
    }
    
    div {
      display: inline-block;
    }
    
    h4 {
      .h4-font-style;
      letter-spacing: 1px;
    }
    
    p {
      .link-font-style;
      font-weight: normal;
    }
  }
}
