//
// Main styling
//

// .statistics {
//   .flex;
//   justify-content: space-around;
//   min-height: 200px;
//   background-color: @light-green-text;
  
//   section {
//     .flex;
//     color: @white;
//     text-transform: uppercase;
      
//     i {
//       margin-right: 15px;
//     }
    
//     h4 {
//       .h4-font-style;
//       letter-spacing: 1px;
//     }
    
//     p {
//       .link-font-style;
//       font-weight: normal;
//     }
//   }
// }


//
// Float styling
//

.statistics {
  .clearfix;
  padding: 60px 20px 60px 90px;
  background-color: @light-green-text;
  
  section {
    float: left;
    width: 25%;
    color: @white;
    text-transform: uppercase;
      
    i {
      float: left;
      margin-top: 5px;
      margin-right: 15px;
    }

    h4 {
      .h4-font-style;
      letter-spacing: 1px;
    }
    
    p {
      .link-font-style;
      font-weight: normal;
    }
  }
}


//
// Inline-block styling
//

// .statistics {
//   padding: 60px 20px 60px 90px;
//   background-color: @light-green-text;
  
//   section {
//     display: inline-block;
//     width: 24%;
//     color: @white;
//     text-transform: uppercase;
      
//     i {
//       margin-top: 5px;
//       margin-right: 15px;
//     }

//     div {
//       display: inline-block;
//     }

//     h4 {
//       .h4-font-style;
//       letter-spacing: 1px;
//     }
    
//     p {
//       .link-font-style;
//       font-weight: normal;
//     }
//   }
// }