//
// Main styling
//

// .main-skills {
//   .container;
//   padding: 100px 0;
//   .flex;
//   flex-wrap: wrap;
//   align-content: space-between;
  
//   min-height: 400px;
//   text-align: center;

//   section {
//     width: 25%;

//     i {
//       margin-bottom: 15px;
//       color: @dark-grey-text;
//     }
//     h4 {
//       .h4-font-style;
//       text-transform: uppercase;
//       margin-bottom: 5px;
//     }
//     p {
//       .p-font-style;
//       line-height: 25px;
//       width: 70%;
//       margin: 0 auto;
//     }
//   }
// }


//
// Float styling
//

.main-skills {
  .clearfix;
  .container;
  padding: 75px 0;
  min-height: 400px;
  text-align: center;

  section {
    float: left;
    width: 25%;
    margin: 30px 0;

    i {
      margin-bottom: 15px;
      color: @dark-grey-text;
    }
    h4 {
      .h4-font-style;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    p {
      .p-font-style;
      line-height: 25px;
      width: 70%;
      margin: 0 auto;
    }
  }
}


//
// Inline-block styling
//

// .main-skills {
//   .container;
//   padding: 75px 0;
//   min-height: 400px;
//   text-align: center;

//   section {
//     display: inline-block;
//     width: 24%;
//     margin: 30px 0;

//     i {
//       margin-bottom: 15px;
//       color: @dark-grey-text;
//     }
//     h4 {
//       .h4-font-style;
//       text-transform: uppercase;
//       margin-bottom: 5px;
//     }
//     p {
//       .p-font-style;
//       line-height: 25px;
//       width: 70%;
//       margin: 0 auto;
//     }
//   }
// }